@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-hegval: var(--font-hegval);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #070707;
  color: var(--foreground);
  font-family: var(--font-hegval), sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .progressive-blur {
    position: relative;
    overflow: hidden;
  }

  .progressive-blur::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(15px);
    mask-image: linear-gradient(to bottom right, transparent 0%, black 100%);
    -webkit-mask-image: linear-gradient(
      to bottom right,
      transparent 0%,
      black 100%
    );
    pointer-events: none;
    z-index: 1;
  }
}
