@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-outfit: var(--font-outfit);
  --font-hegval: var(--font-hegval);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #070707;
  color: var(--foreground);
  font-family: var(--font-hegval), sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  .noise::before {
    content: "";
    position: absolute;
    left: -10rem;
    z-index: 9999;
    top: -10rem;
    width: calc(100% + 20rem);
    height: calc(100% + 20rem);
    background-image: url(/bg.png);
    opacity: 0.65;
    pointer-events: none;
    animation: noise 1s steps(2) infinite;
  }

  @-webkit-keyframes noise {
    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }

  @keyframes noise {
    0% {
      transform: translate3d(0, 9rem, 0);
    }

    10% {
      transform: translate3d(-1rem, -4rem, 0);
    }

    20% {
      transform: translate3d(-8rem, 2rem, 0);
    }

    30% {
      transform: translate3d(9rem, -9rem, 0);
    }

    40% {
      transform: translate3d(-2rem, 7rem, 0);
    }

    50% {
      transform: translate3d(-9rem, -4rem, 0);
    }

    60% {
      transform: translate3d(2rem, 6rem, 0);
    }

    70% {
      transform: translate3d(7rem, -8rem, 0);
    }

    80% {
      transform: translate3d(-9rem, 1rem, 0);
    }

    90% {
      transform: translate3d(6rem, -5rem, 0);
    }

    to {
      transform: translate3d(-7rem, 0, 0);
    }
  }
}
